







    <footer class="bottom-footer">
        <p>TMDB - Source of my Api and every info on this site.</p>
        <p>Made by ❤ </p>
        <p>All Rights Reserved. Hrishi Sharma ©  <%= new Date().getFullYear(); %> </p>
    </footer>






</body>
</html>