<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie-site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body id="app">
    <header class="nav-bar">

        <div class="big-title">
            <p><a href="/">YouMovies</a></p>
        </div>
        <div class="searchBar">
            <form action="/searchedMedia" method="post">
                <input class="text" type="text" name="mediaName" placeholder="type movie name...."><input class="mag" type="submit" value="ðŸ”">
            </form>
        </div>
    </header>
