body {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Bungee Spice', sans-serif;
    background-image: url("/images/background.jpg");
    background-size: 100%;
    
}


#app {
    /* grid container settings*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';


}

#app > header {
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: #ffffff50;
    padding: 50px;
    justify-content: space-around;
}
.big-title{
    font-size: 3rem;
}
.searchBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 50%; */
    gap: 50px;
}
.search-form{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
.text{
    height: 30px;
    width: 400px;
    border-radius: 50px;
    border: 2px white solid;
    background-color: #ffffff80;
    padding: 5px 20px;
    font-size: large;
    color: white;
    outline: none;
}

.mag{
    border-radius: 50px;
    border: none;
}

#app > main{
    grid-area: main;
    width: 100%;
    text-align: center;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    
}
h1{
    text-align: center;
}

a{
    text-decoration: none;
}
.movieLinks {
    display: grid;
    grid-template-columns: repeat(4 , 20%);
    grid-template-rows: auto;
    font-size: large;
    justify-content: center;
    gap :30px;
    min-width: fit-content;
    
    
    
}
.tv-show-links {
    display: grid;
    grid-template-columns: repeat(4 , 20%);
    grid-template-rows: auto;
    font-size: large;
    justify-content: center;
    gap :30px;
    min-width: fit-content;
    
    
    
}
.page-no-edit {
    display: flex;
    gap :15px;
    justify-content: center;
    align-items: center;
}
.bothMedia-container{
    width: 100%;
}


.bothMedia-container img {
    width: 100%;
}

.search-container{
    
    
    text-align: center;
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.searchedLinks {
    display: grid;  
    grid-template-columns: repeat(4 , 21%);
    grid-template-rows: auto;
    font-size: small;
    justify-content: center;
    gap :30px;
}

.search-container img {
    width: 100%;
}

.mediaInfo_container {
    display: flex;
    gap: 40px;
    padding: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-weight: 200;
    justify-content: center;
}
.otherInfo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-weight: 200;
    justify-content: center;
    padding: 50px;
}

.production-companies {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-self: center;
    align-self: center;
    background-color: #ffffff50;
    padding: 25px;
    
}

button  {
    background: none;
    /* background-color: #ffffff50; */
    font-size: 15pt;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    border-radius: 10%;
    /* border-color:aquamarine; */
    border: none;
    width: 100%;
    
}
button > img {
    border-radius: 10%;
}

.hover  :hover {
    transition: 1s;
    transform: scale(1.1);
}

.movie_nowPlaying{
    display: grid;
    grid-template-columns: repeat(4 , 20%);
    grid-template-rows: auto;
    font-size: large;
    justify-content: center;
    gap :30px;
    min-width: fit-content;
    
}

.tv_nowPlaying {
    display: grid;
    grid-template-columns: repeat(4 , 20%);
    grid-template-rows: auto;
    font-size: large;
    justify-content: center;
    gap :30px;
    min-width: fit-content;
}

.now-playing img{
    width: 100%;
}

.now-playing h2 {
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    font-size: large;
}

#app > footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
    font-size: large;
    
    
}


